{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Freemex | Mukti 2017</title>
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">


    <!-- META TAGS -->
    <meta name="description" content="Freemex - MUKTI 2017">
    <meta name="keywords" content="Freemex, stock, market, share, equity, MUKTI, MUKTI 2K17" />
    <meta name="author" content="GNU/Linux Users' Group">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:title" content="Freemex - Mukti 2017"/>
    <meta property="og:url" content="http://freemex.mkti.in/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Freemex is an online trading game which allows you to buy and sell stocks at your convenience and at the current market price. The player at the end with highest total stocks and cash wins the game." />
    <meta property="og:image" content="http://freemex.mkti.in{% static "img/square_logo.png" %}" />
    <meta property="fb:app_id" content="635392033311621"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="{% static "css/mdb.min.css" %}" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- Share icons javascript -->
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a2d5b4bd0739000123acd88&product=inline-share-buttons"></script>

</head>

<body>

    <div id="loader"><i id="loader-icon" class="fa fa-circle-o-notch fa-spin"></i></div>

    {% block content %}{% endblock %}

    <!-- Social share icons -->
    <div class="sharethis-inline-share-buttons"></div>
    <hr>

    <!-- Ungineering footer -->
    <div class="footer">
        <strong>Developed by:</strong> GNU/Linux Users' Group NIT Durgapur
        <img src="{% static "img/glug_logo.png" %}"/>
    </div>

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="{% static "js/jquery-3.2.1.min.js" %}"></script>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static "js/mdb.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90595855-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>

</html>
