{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
{% include "core/includes/navbar.html" %}

<!--Main layout-->
<div class="container leaderboard">
    <br>
    <p class="text-right">Logged in as <strong>{{ player.user }}</strong></p>
    <h1>Leaderboard</h1>
    <hr>
    <br>

    <input type="text" id="leaderboard-search" onkeyup="leaderboardSearch()" placeholder="Search for names..">

    <table class="table table-striped leaderboard-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Username</th>
                <th>Total Asset</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ player.user.first_name }} {{ player.user.last_name }}</td>
                <td>{{ player }}</td>
                <td>{{ player.total_value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<!--/Main layout-->

{% endblock %}
