{% extends "core/base.html" %}
{% load staticfiles %}
{% load tz %}

{% block content %}

{% include "core/includes/navbar.html" with current="Market" %}

<!--Main layout-->
<div class="container market">
    <br>
    <h1>Market</h1>
    <hr>
    <h5>Cash in your hand: $<span id="playercash">{{ player.cash }}</span></h5>
    <br>
    <input type="text" id="market-search" onkeyup="marketSearch()" placeholder="Search for stock names..">
    <br><br>
    <p class="text-right">Page last updated on: <strong id="last-updated">{% timezone "Asia/Calcutta" %}{{ last_updated }}{% endtimezone %}</strong></p>

    {% for stock in all_stocks %}

    <!--Card-->
    <div class="card stock-card" data-name="{{ stock.name }}">
        <div class="card-body">
            <h4 class="card-title">{{ stock.name }}</h4>
            <div class="market-info">
                <p class="card-text stock-info"><a target="_blank" href="https://www.google.com/finance?q=NASDAQ:{{ stock.code }}">Details</a></p>
                {% if stock.diff >= 0 %}
                <p class="card-text stock-info up" id="diff">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </p>
                {% else %}
                <p class="card-text stock-info down" id="diff">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                </p>
                {% endif %}
                <p class="card-text stock-info">Price: <span id="price"></span></p>
                <p class="card-text stock-info">{{ stock.code }}</p>
                <div class="market-buttons">
                    <a href="#" class="btn btn-primary btn-success market-buy-button" data-toggle="modal" data-target="#buyModal{{ stock.code }}" data-price="{{ stock.price }}">Buy</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="buyModal{{ stock.code }}" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <div class="modal-content">
                <div class="modal-header blue darken-3 white-text">
                    <h4 class="modal-title" id="buyModalLabel">{{ stock.name }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form  class="buy-form" action="/buystock/" method="Post">
                    {% csrf_token %}
                    <input type="hidden" name="code" value="{{ stock.code }}">
                    <div class="modal-body">
                        <h6>Max you can buy: <span class="maxqty">Unknown</span></h6>
                        <div class="md-form">
                            <input type="number" min="1" id="form1" class="form-control" placeholder="Quantity" name="quantity">
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="submit" id="buyButton" class="btn btn-success">Confirm</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<!--/Main layout-->

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="{% static "js/portfolio.js" %}"></script>
<script type="text/javascript" src="{% static "js/market.js" %}"></script>

{% endblock %}
