{% extends "core/base.html" %}
{% load staticfiles %}
{% load tz %}

{% block content %}
{% include "core/includes/navbar.html" with current="Home" %}

<!--Main layout-->
<div class="container portfolio">
    <br>
    <p class="text-right">Logged in as <strong>{{ player.user }}</strong></p>
    <p class="text-right">
        <a href="#" class="btn success-color change-username" data-toggle="modal" data-target="#changeUsernameModal" role="button">Change username</a>
    </p>
    <!-- Change username modal -->
    <div class="modal fade" id="changeUsernameModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <div class="modal-content">
                <div class="modal-header warning-color-dark white-text">
                    <h4 class="modal-title" id="modalTitle">Change your username</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="change-username-form" action="/change_username/" method="Post">
                    {% csrf_token %}
                    <input type="hidden" name="current_username" value="{{ player.user }}">
                    <div class="modal-body">
                        <div class="md-form">
                            <input type="text" class="form-control" name="username" maxlength="50" required autofocus>
                            <label for="username-input">Current username: {{ player.user }}</label>
                            <ul class="input-requirements">
                                <li>Username must have at least 5 characters <i class="fa fa-check"></i><i class="fa fa-exclamation"></i></li>
                                <li>Username must not be registered with someone else <i class="fa fa-check"></i><i class="fa fa-exclamation"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="changeUsernameButton" class="btn btn-danger">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h1>Portfolio</h1>
    <hr>
    <h5>Cash: $<span id="playercash">{{ player.cash }}</span></h5>
    <h5>Value in Stock: ${{ player.value_in_stocks }}</h5>
    <hr>
    <h4>Total: {{ player.total_value }}</h4>
    <br>
    <br>
    <p class="text-right">Page last updated on: <strong id="last-updated">{% timezone "Asia/Calcutta" %}{{ last_updated }}{% endtimezone %}</strong></p>
    <h1>Your stocks</h1>
    <hr>
    <br>

    {% for player_stock in player_stocks %}

    <!--Card-->
    {% if player_stock.quantity %}
    <div class="card-columns stock-card" data-name="{{ player_stock.stock.name }}">
        <div class="card-body">
            <h4 class="card-title">{{ player_stock.stock.name }}</h4>
            <div class="market-info">
                {% if player_stock.stock.diff >= 0 %}
                <p class="card-text stock-info up" id="diff">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </p>
                {% else %}
                <p class="card-text stock-info down" id="diff">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                </p>
                {% endif %}
                <p class="card-text stock-info">Price: <span id="price"></span></p>
                <p class="card-text stock-info">{{ player_stock.stock.code }}</p>
                <p class="card-text stock-info">x{{ player_stock.quantity }}</p>
                <p class="card-text stock-info">invested : ${{ player_stock.invested }}</p>
                <div class="market-buttons">
                  <a href="#" class="btn btn-success market-buy-button" data-toggle="modal" data-target="#buyModal{{ player_stock.stock.code }}" data-price="{{ player_stock.stock.price }}">Buy More</a>
                  <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#sellModal{{ player_stock.stock.code }}">sell</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Buy Modal -->
    <div class="modal fade" id="buyModal{{ player_stock.stock.code }}" tabindex="-1" role="dialog" aria-labelledby="buyModalTitle" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <div class="modal-content">
                <div class="modal-header default-color white-text">
                    <h4 class="modal-title" id="buyModalTitle">Buy: {{ player_stock.stock.name }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="buy-form" action="/buystock/" method="Post">
                    {% csrf_token %}
                    <input type="hidden" name="code" value="{{ player_stock.stock.code }}">
                    <div class="modal-body">
                        <h6>Max you can buy: <span class="maxqty">Unknown</span></h6>
                        <div class="md-form">
                            <input type="number" min="1" placeholder="Quantity" id="form2" name="quantity">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="buyButton" class="btn btn-success">Buy</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Sell Modal -->
    <div class="modal fade" id="sellModal{{ player_stock.stock.code }}" tabindex="-1" role="dialog" aria-labelledby="sellModalTitle" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <div class="modal-content">
                <div class="modal-header red darken-1 white-text">
                    <h4 class="modal-title" id="sellModalTitle">Sell: {{ player_stock.stock.name }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form  class="sell-form" action="/sellstock/" method="Post">
                    {% csrf_token %}
                    <input type="hidden" name="code" value="{{ player_stock.stock.code }}">
                    <div class="modal-body">
                        <div class="md-form">
                            <input type="number" min="1" max="{{ player_stock.quantity }}" placeholder="Quantity" id="form3" class="form-control" name="quantity">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="buyButton" class="btn btn-success">Sell</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    {% endfor %}

    <a href="/market" class="btn btn-lg btn-info">Buy Stocks</a>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="{% static "js/validation.js" %}"></script>
<script type="text/javascript" src="{% static "js/portfolio.js" %}"></script>

{% endblock %}
