{% load staticfiles %}

<div class="container rules">
    <br>
    {% if player %}
        <p class="text-right">Logged in as <strong>{{ player }}</strong></p>
    {% endif %}
    <h5>
        <img src="{% static "img/black_logo.png" %}" id="intro-logo" /> is an online trading game which allows you to buy and sell stocks at your convenience and at the current market price. The player at the end with highest total stocks
        and cash wins the game.
    </h5>
    <hr><br>
    <h1>Rules</h1>
    <hr>
    <ol>
        <li>Freemex contest for EDC E-Summit 2018 will begin at 8PM on 12 Feb 2018. </li>
        <li>NASDAQ Opens at 8PM and closes at 2.30AM (IST). The price of stocks are updated only in this period.</li>
        <li>Learn more about NASDAQ Timings <a href="http://www.nasdaq.com/about/trading-schedule.aspx" target="_blank">here</a>.</li>
        <li>Contest will end at 2.30AM on 17 Feb 2018.</li>
        <li>Person with maximum total asset wins.</li>
        <li>A player must participate in fruitful trade atleast once in order to win.</li>
    </ol>
    <hr><br>
    <h1>Note</h1>
    <hr>
    <ol>
        <li>Stock prices are updated every minute.</li>
        <li>Leaderboard is updated every minute.</li>
        <li>You may notice some after hour fluctuations in stock prices which are normal.</li>
    </ol>
</div>
