{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Freemex | Mukti 2017</title>
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">


    <!-- META TAGS -->
    <meta name="description" content="Freemex - MUKTI 2017">
    <meta name="keywords" content="Freemex, stock, market, share, equity, MUKTI,MUKTI 2K17" />
    <meta name="author" content="GNU Linux Users' Group">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:title" content="Freemex - Mukti 2017"/>
    <meta property="og:url" content="http://freemex.mkti.in/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Freemex is an online trading game which allows you to buy and sell stocks at your convenience and at the current market price. The player at the end with highest total stocks and cash wins the game.
" />
    <meta property="og:image" content="http://freemex.mkti.in{% static "img/square_logo.png" %}" />
    <meta property="fb:app_id" content="635392033311621"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="{% static "css/mdb.min.css" %}" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body>
    <div id="loader"><i id="loader-icon" class="fa fa-circle-o-notch fa-spin"></i></div>
    {% block content %}{% endblock %}
    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="{% static "js/jquery-2.2.3.min.js" %}"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static "js/tether.min.js" %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static "js/mdb.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

    <script type="text/javascript">
        setTimeout("location.reload(true);",120000);
    </script>
    {% block extrajs %}{% endblock %}
</body>

</html>
