{% extends "app/base.html" %}
{% load staticfiles %}

{% block content %}
<!--Navigation-->
<header>

    <!--Navbar-->
    <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar primary-color">

        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i>
        </button>

        <div class="container">
            <!--Navbar Brand-->
            <a href="/">
                <img class="img-responsive" id="nav-logo" src="{% static "img/logo.png" %}">
            </a>
            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx">
                <!--Links-->
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/market">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rules">Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/engage">Engage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>

                </ul>


            </div>
            <!--/.Collapse content-->

        </div>

    </nav>
    <!--/.Navbar-->

</header>
<!--/Navigation-->

<!--Main layout-->
<div class="table_home">
    <br>
    <h1>Engage</h1>
    <hr>
    <br>
    <!--Card-->
    <div id="disqus_thread"></div>
    <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    
    var disqus_config = function () {
    this.page.url = 'http://freemex.mkti.in/engage';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "enagagePage"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//freemex.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>

<!--Card image-->
<!--/.Card image-->
<!--/.Card-->

<!--/Main layout-->
</div>
{% endblock %}

<h1>Portfolio</h1>
{{ player.cash }}
{{ player.value_in_stocks }}
