{% extends "app/base.html" %}
{% load staticfiles %}


{% block content %}

<div class="container-fluid landing-page">

    <header class="landing">
        <div class="landing-bg"></div>
        <div class="mukti-logo">
            <a href="http://mkti.in">
                <img src="{% static "img/mukti-logo.png" %}">
            </a>
        </div>
        <div class="sponsor-logo">
            <a href="http://ungineering.com/" target="_blank"><img class="ungineering-logo" src="{% static "img/Ungineering-logo.png" %}"></a>
            <img class="citygym-logo" src="{% static "img/citygym.jpg" %}">
        </div>
        <div class="content">
            <img class="freemex-logo" src="{% static "img/logo.png" %}"/>
            <p class="nasdaq-intro">NASDAQ Timings: 8PM - 2:30AM IST</p>
            <div class="login-buttons">
                <a class="btn btn-fb" href="{% url 'social:begin' 'facebook' %}" role="button">
                    <i class="fa fa-facebook left"></i> Facebook
                </a>
                <a class="btn btn-gplus" href="{% url 'social:begin' 'google-oauth2' %}" role="button">
                    <i class="fa fa-google-plus left"></i> Google+
                </a>
            </div>
        </div>
    </header>

    {% include "app/includes/rules.html" %}

</div>

{% endblock %}
