{% extends "app/base.html" %}
{% load staticfiles %}

{% block content %}
<!--Navigation-->
<header>

    <!--Navbar-->
    <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar primary-color">

        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i>
        </button>

        <div class="container">
            <!--Navbar Brand-->
            <a href="/">
                <img class="img-responsive" id="nav-logo" src="{% static "img/logo.png" %}">
            </a>
            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx">
                <!--Links-->
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/market">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rules">Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/engage">Engage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>

                </ul>


            </div>
            <!--/.Collapse content-->

        </div>

    </nav>
    <!--/.Navbar-->

</header>
<!--/Navigation-->

<!--Main layout-->
<div class="table_home">
    <br>
    <h1>Market</h1>
    <hr>
    <h5>Cash in your hand: $<span id="playercash">{{ player.cash }}</span></h5>
    <br>
    <input type="text" id="market-search" onkeyup="marketSearch()" placeholder="Search for stock names..">
    <br><br>
    <!--Card-->
    {% for stock in all_stocks %}
    <div class="card market-card" data-name="{{ stock.name }}">
        <div class="card-block">
            <h4 class="card-title">{{ stock.name }}</h4>
            <!--Text-->
            <div class="marketInfo">
                <p class="card-text stock-info"><a target="_blank" href="https://www.google.com/finance?q=NASDAQ:{{ stock.code }}">Details</a></p>
                {% if stock.diff >= 0 %}
                <p class="card-text stock-info up">
                    {{ stock.diff }} <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </p>
                {% else %}
                <p class="card-text stock-info down">
                    {{ stock.diff }} <i class="fa fa-arrow-down" aria-hidden="true"></i>
                </p>
                {% endif %}
                <p class="card-text stock-info">Price: {{ stock.price }}</p>
                <p class="card-text stock-info">{{ stock.code }}</p>
                <div class="market-buttons">
                    <a href="#" class="btn btn-primary btn-success market-buy-button" data-toggle="modal" data-target="#buyModal{{ stock.code }}" data-price="{{ stock.price }}">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="buyModal{{ stock.code }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{ stock.name }}</h4>
                    <hr>
                    <h5>Max you can buy: <span class="maxqty">Unknown</span></h5>
                </div>
                <!--Body-->
                <form  class="buy-form" action="/buystock/" method="Post">
                    {% csrf_token %}
                    <input type="hidden" name="code" value="{{ stock.code }}">
                    <div class="modal-body">
                        <div class="md-form">
                            <input type="number" min="1" id="form1" class="form-control" name="quantity">
                            <label for="form1" class="">Quantity</label>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="submit" id="buyButton" class="btn btn-success">Confirm</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
            <!--/.Content-->
        </div>
    </div>
    {% endfor %}
    <!--Card image-->
    <!--/.Card image-->
    <!--/.Card-->

    <!--/Main layout-->
</div>
{% endblock %}
