{% extends "app/base.html" %}
{% load staticfiles %}

{% block content %}
<!--Navigation-->
<header>

    <!--Navbar-->
    <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar primary-color">

        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i>
        </button>

        <div class="container">
            <!--Navbar Brand-->
            <a href="/">
                <img class="img-responsive" id="nav-logo" src="{% static "img/logo.png" %}">
            </a>
            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx">
                <!--Links-->
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/market">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rules">Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>

                </ul>


            </div>
            <!--/.Collapse content-->

        </div>

    </nav>
    <!--/.Navbar-->

</header>
<!--/Navigation-->

<!--Main layout-->
<div class="table_home">
    <br>
    <h1>Rules</h1>
    <hr>
    <br>
    <!--Card-->
    <h5>
        <img src="{% static "img/black_logo.png" %}" width="20%" height="inherit" id="intro_logo" /> is an online trading game which allows you to buy and sell stocks at your convenience and at the current market price. The player at the end with highest total stocks
        and cash wins the game.
    </h5><hr><br>
    <h1>Rules</h1>
    <ol>
        <li>Freemex contest for Mukti 2017 will begin at 8PM on 18 Jan 2017.  </li>
        <li>NASDAQ Opens at 8PM and closes at 2.30AM (IST). The price of stocks are updated only in this period.</li>
        <li>Learn more about NASDAQ Timings <a href="http://www.nasdaq.com/about/trading-schedule.aspx">here</a>.</li>
        <li>Contest will end at 2.30AM on 24 Jan 2017.</li>
        <li>Person with maximum total asset wins.</li>
        <li>A player must participate in fruitful trade atleast once in order to win.</li>
    </ol>
    <hr>
    <h1>Note</h1>
    <ol>
        <li>Stock prices are updated every 2 minutes.</li>
        <li>Leaderboard is updated every 2 minutes.</li>
        <li>You may notice some after hour fluctuations in stock prices which are normal.</li>
    </ol>

    <!--Card image-->
    <!--/.Card image-->
    <!--/.Card-->

    <!--/Main layout-->
</div>
{% endblock %}

<h1>Portfolio</h1>
{{ player.cash }}
{{ player.value_in_stocks }}
